@page "/login"
@using Blazored.LocalStorage
@using Blazored.Toast.Services
@using LoggingApp.Shared.Models
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject IToastService ToastService
@inject NavigationManager NavigationManager 

<h3>Login</h3>

<EditForm Model="user" OnSubmit="HandleLogin">
    <label for="email" class="form-label">Email</label>
    <InputText id="email" class="form-control" @bind-Value="user.Email" /><br/>
    <label for="password" class="form-label">Password</label>
    <InputText id="password" class="form-control" @bind-Value="user.Password" type="password" /><br/>
    <button type="submit" class="btn btn-primary">Login</button>
</EditForm>

@code {
    LoginDto user = new LoginDto();
    
    async Task HandleLogin()
    {
        try
        {
            var result = await Http.PostAsJsonAsync("api/account/login", user);
            var token = await result.Content.ReadAsStringAsync();
            await LocalStorage.SetItemAsync("token", token);
            await AuthStateProvider.GetAuthenticationStateAsync();
            NavigationManager.NavigateTo("");
        }
        catch (Exception ex)
        {
            ToastService.ShowError("Logging was failed!");
        }
        
    }
}