@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <LoginLogoutButton/>
            @if (!IsRegisterPage())
            {
                <RegisterButton/>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<BlazoredToasts Position="ToastPosition.TopCenter"/>

@code {
    private bool IsRegisterPage()
    {
        var currentPage = NavigationManager.Uri;
        return currentPage.EndsWith("/register", StringComparison.OrdinalIgnoreCase);
    }
}